<h1>Angular</h1>
<!-- <courses></courses> -->

<!-- <authors></authors> -->
<!-- <piccourses></piccourses> -->
<!-- <app-course></app-course> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
></app-favorite> -->
<!-- <bootstrap-panel>
  <ng-container class="card-header">header</ng-container>
  <ng-container class="card-body">
    <h2>Body</h2>
    <p>Some Content</p>
  </ng-container>
</bootstrap-panel> -->

<!-- <app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ng-switch-case></app-ng-switch-case> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ngfor-track-by></app-ngfor-track-by> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-safe-traversal-oprator></app-safe-traversal-oprator> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <zippy title="Shipping Details"> Shipping Details Content </zippy> -->
<!-- <contact-form></contact-form> -->
<new-course-form></new-course-form>
